body {
  font-family: "Courier New", Courier, monospace;
  color: black;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: left;
}

#search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

#search-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  border: 1px solid #333;
  font-family: inherit;
}

#search-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border: 1px solid #333;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s;
}

#search-button:hover {
  background-color: #333;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 2000px;
  margin-left: 30;
}

.card {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: all 0.3s ease;
}

.card-image-container {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: filter 0.3s ease;
}

.card-title {
  font-size: 1.1em;
  margin: 0 0 10px 0;
  font-weight: bold;
}

.card-price {
  font-size: 1.2em;
  margin-top: auto;
  text-align: left;
  padding-top: 10px;
}
