body {
  font-family: "Courier New", Courier, monospace;
  color: black;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: left;
}

#search-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 40px;
}

#input-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

#search-input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #333;
  font-family: inherit;
}

#suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #333;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

#suggestions-list li {
  padding: 10px;
  border-bottom: 1px solid #222;
  cursor: pointer;
}

#suggestions-list li:hover {
  background: #222;
  color: white
}

.hidden {
  display: none;
}

#search-button,
#history-button,
#view-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border: 1px solid #333;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s;
}

#search-button:hover,
#history-button:hover {
  background-color: #333;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 2000px;
  margin-left: 30;
}

.card {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: all 0.3s ease;
}

.card-image-container {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: filter 0.3s ease;
}

.card-title {
  font-size: 1.1em;
  margin: 0 0 10px 0;
  font-weight: bold;
}

.card-price {
  font-size: 1.2em;
  margin-top: auto;
  text-align: left;
  padding-top: 10px;
}
